<div>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <div class="container text-center">
    <button type="button" class="btn btn-primary mt-5" data-toggle="modal" data-target="#board">質問を投稿する</button>
    <div class="modal fade" id="board" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <%= form_for(@board, url: boards_create_path, method: :post) do |f| %>
            <div class="modal-body">
              <%= f.text_field :title, class: "form-control", placeholder: "質問タイトル", :required => true %>
              <%= f.text_field :content, class: "form-control", placeholder: "質問内容", :required => true %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.hidden_field :room_id, :value => @room.id %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
              <%= f.submit "投稿する", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid text-center">
    <div class="row">
      <% @boards.each do |board| %>
        <div class="col-md-4" style="padding:10px;">
            <h3><%= link_to "#{board.title}", "/boards/show/#{board.id}" %></h3>
            <p>質問者: <%= "#{board.user.email}" %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>