<!-- <h1>Boards#register</h1>
<p>Find me in app/views/boards/register.html.erb</p> -->
<h1>授業登録</h1>
<p>~twinsから取得したcsvをインポートできます~</p>


<h1>授業一覧（仮）</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>授業番号</th>
    </tr>
  </thead>

  <tbody>
    <% @subs.each do |subs| %>
      <tr>
        <td><%= subs.id %></td>
        <td><%= subs.course_number %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= form_tag import_boards_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "インポート" %>
<% end %>
