<div>
    <h2>質問タイトル: <%= @board.title %></h2>
    <h2>質問内容: <%= @board.content %></h2>
<div>
    <%= form_for(@comment, url: comments_create_path, method: :post) do |f| %>
        <div>
            <%= f.text_field :body, class: "form-control", placeholder: "アドバイス", :required => true %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.hidden_field :board_id, :value => @board.id %>
        </div>
        <div>
            <%= f.submit "投稿" %>
        </div>
    <% end %>
</div>

<div id="comments">
    <%= render @comments %>
</div>